<!-- visibility data matrix -->
<div class="tab-pane fade" id="tab_visibility">
  <div class="row">
    <div class="col-sm-9">
      <div class="panel ">
        <div class="panel-heading">
          <h3 class="panel-title">Visibility Data Matrix</h3>
        </div>

      </div>
    </div>

  </div>

<div>

<div class="row" style="padding: 15px">
  <div class="scrolling outer">

<div class="wrapper">
    <div class="typeEventColumn">
        <div class="typeEventCellTop"></div>
        <div class="typeEventCell">pallets</div>
        <div class="typeEventCell">cases</div>
        <div class="typeEventCell">items</div>
    </div>
    <div class="eventColumn">
        <div class="offset2"></div>
        <span>commissioning</span>
        <div class="numberCircle">1</div>
        <em>Sep 17</em>
        <strong>6:01am</strong>
    </div>
    <div class="eventColumn">
        <div class="offset1"></div>
        <span>picking</span>
        <div class="numberCircle">2</div>
        <em>Sep 17</em>
        <strong>6:01am</strong>
    </div>
    <div class="eventColumn eventColumnVertical">
        <div class="offset0"></div>
        <span>shipping</span>
        <div class="numberCircle">3</div>
        <em>Sep 27</em>
        <strong>5:45pm</strong>
    </div>
    <div class="eventColumn">
        <div class="offset0"></div>
        <span>receiving</span>
        <div class="numberCircle">4</div>
        <em>Sep 27</em>
        <strong>5:45pm</strong>
    </div>
    <div class="eventColumn">
        <div class="offset1"></div>
        <span>unpacking</span>
        <div class="numberCircle">5</div>
        <em>Sep 17</em>
        <strong>6:01am</strong>
    </div>
    <div class="eventColumn">
        <div class="offset1"></div>
        <span>picking</span>
        <div class="numberCircle">6</div>
        <em>Sep 17</em>
        <strong>6:01am</strong>
    </div>
    <div class="eventColumn eventColumnVertical">
        <div class="offset0"></div>
        <span>shipping</span>
        <div class="numberCircle">7</div>
        <em>Sep 27</em>
        <strong>5:45pm</strong>
    </div>
    <div class="eventColumn">
        <div class="offset0"></div>
        <span>receiving</span>
        <div class="numberCircle">8</div>
        <em>Sep 27</em>
        <strong>5:45pm</strong>
    </div>
    <div class="eventColumn">
        <div class="offset1"></div>
        <span>unpacking</span>
        <div class="numberCircle">9</div>
        <em>Sep 17</em>
        <strong>6:01am</strong>
    </div>
    <div class="eventColumn">
        <div class="offset1"></div>
        <span>picking</span>
        <div class="numberCircle">10</div>
        <em>Sep 17</em>
        <strong>6:01am</strong>
    </div>
    <div class="eventColumn eventColumnVertical">
        <div class="offset0"></div>
        <span>shipping</span>
        <div class="numberCircle">11</div>
        <em>Sep 27</em>
        <strong>5:45pm</strong>
    </div>
    <div class="eventColumn">
        <div class="offset0"></div>
        <span>receiving</span>
        <div class="numberCircle">12</div>
        <em>Sep 27</em>
        <strong>5:45pm</strong>
    </div>
    <div class="eventColumn">
        <div class="offset1"></div>
        <span>unpacking</span>
        <div class="numberCircle">13</div>
        <em>Sep 17</em>
        <strong>6:01am</strong>
    </div>
    <div class="eventColumn">
        <div class="offset1"></div>
        <span>picking</span>
        <div class="numberCircle">14</div>
        <em>Sep 17</em>
        <strong>6:01am</strong>
    </div>
    <div class="eventColumn eventColumnVertical">
        <div class="offset0"></div>
        <span>shipping</span>
        <div class="numberCircle">15</div>
        <em>Sep 27</em>
        <strong>5:45pm</strong>
    </div>
    <div class="eventColumn">
        <div class="offset0"></div>
        <span>receiving</span>
        <div class="numberCircle">16</div>
        <em>Sep 27</em>
        <strong>5:45pm</strong>
    </div>
    <div class="eventColumn">
        <div class="offset1"></div>
        <span>unpacking</span>
        <div class="numberCircle">17</div>
        <em>Sep 17</em>
        <strong>6:01am</strong>
    </div>
</div>

  </div>
</div>

<!--
<div class="row" style="padding: 15px">
  <div class="scrolling outer">
    <div class="inner">
      <table class="table table-striped table-hover table-striped">
        <tr >
            <th><div></div></th>
            <td colspan=6 class="success">Manufacturer's Factory</td>
            <td colspan=7 class="info">Retailer's Distribution Centre</td>
            <td colspan=6 class="infobold">Retailer's Store</td>
        </tr>
        <tr>
            <th ><div>Process Flow</div></th>
            <td class="success scrolling-title">Encode and tag</td>
            <td class="success scrolling-title">Pack items in cases</td>
            <td class="success">Print case label</td>
            <td class="success">Print pallet label</td>
            <td class="success">Pack cases into pallets</td>
            <td class="success">Ship the pallet</td>
            <td class="info">Receive the pallet</td>
            <td class="info">Put away the pallet</td>
            <td class="info">Disaggregate the pallet</td>
            <td class="info">Pick cases to Order</td>
            <td class="info">Commission Pallet tag</td>
            <td class="info">Pack Pallet and Apply Pallet Tag</td>
            <td class="info">Ship Pallet to Retail Store</td>
            <td class="infobold">Arrive at the Retail Store</td>
            <td class="infobold">Receive Pallet</td>
            <td class="infobold">Remove cases from Pallets</td>
            <td class="infobold">Open cases</td>
            <td class="infobold">Move products to the Sales room</td>
            <td class="infobold">Scan consumer packages on POS</td>
        </tr>
        <tr>
            <th ><div>Pallet</div><div>(layer 2)</div></th>
            <td></td>
            <td></td>
            <td></td>
            <td class="step">
                <div class="stepValue">{{data.step4}}</div>
                <div class="stepBiz">commissioning</div>
                <div class="stepNumber">step 4</div>
            </td>
            <td class="step">
                <div class="stepValue">{{data.step5}}</div>
                <div class="stepBiz">packing</div>
                <div class="stepNumber">step 5</div>
            </td>
            <td class="step">
                <div class="stepValue">{{data.step6}}</div>
                <div class="stepBiz">shipping</div>
                <div class="stepNumber">step 6</div>
            </td>
            <td class="step">
                <div class="stepValue">{{data.step7}}</div>
                <div class="stepBiz">receiving</div>
                <div class="stepNumber">step 7</div>
            </td>
            <td class="step">
                <div class="stepValue">{{data.step8}}</div>
                <div class="stepNumber">step 8</div>
            </td>
            <td></td>
            <td></td>
            <td class="step">
                <div class="stepValue">{{data.step11}}</div>
                <div class="stepNumber">step 11</div>
            </td>
            <td class="step">
                <div class="stepValue">{{data.step12}}</div>
                <div class="stepNumber">step 12</div>
            </td>
            <td></td>
            <td></td>
            <td class="step">
                <div class="stepValue">{{data.step15}}</div>
                <div class="stepNumber">step 15</div>
            </td>
            <td class="step">
                <div class="stepValue">{{data.step16}}</div>
                <div class="stepNumber">step 16</div>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th ><div>Case</div><div>(layer 1)</div></th>
            <td></td>
            <td class="step">
                <div class="stepValue">{{data.step2}}</div>
                <div class="stepBiz">packing</div>
                <div class="stepNumber">step 2</div>
            </td>
            <td class="step">
                <div class="stepValue">{{data.step3}}</div>
                <div class="stepBiz">commissioning</div>
                <div class="stepNumber">step 3</div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="step">
                <div class="stepValue">{{data.step9}}</div>
                <div class="stepNumber">step 9</div>
            </td>
            <td class="step">
                <div class="stepValue">{{data.step10}}</div>
                <div class="stepNumber">step 10</div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="step">
                <div class="stepValue">{{data.step17}}</div>
                <div class="stepNumber">step 17</div>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th class="stepColumn" style="">Item<br>(layer 0)</th>
            <td class="step">
                <div class="stepValue">{{data.step1}}</div>
                <div class="stepBiz">commissioning</div>
                <div class="stepNumber">step 1</div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="step">
                <div class="stepValue">{{data.step18}}</div>
                <div class="stepNumber">step 18</div>
            </td>
            <td class="step">
                <div class="stepValue">{{data.step19}}</div>
                <div class="stepNumber">step 19</div>
            </td>
        </tr>
      </table>
    </div>
  </div>

</div>

</div>

!-->

