<!-- participants -->
<div class="tab-pane fade" id="tab_participants">

  <div class="row">
    <div class="col-sm-9">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h2 class="panel-title">VizixBigchain node</h2>
        </div>

        <div class="panel-body">
          <div class="form-group">
            <label class="control-label col-sm-4" for="type">node name:</label>
            <div class="col-sm-8">
              <label  class="form-control" id="node-name"></label>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="type">node server:</label>
            <div class="col-sm-8">
              <label  class="form-control" id="node-server"></label>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="type">public key:</label>
            <div class="col-sm-8">
              <label  class="form-control" id="node-publicKey"></label>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel panel-info">
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label col-sm-12" >
              <button type="button" class="btn btn-default col-sm-12" 
                onclick="getNodeInfo()">get node info</button>
            </label>
            <label class="control-label col-sm-12" >
              <button type="button" class="btn btn-default col-sm-12" 
              onclick="addParticipant()">add participant</button>
            </label>
            <label class="control-label col-sm-12" >
              <button type="button" class="btn btn-default col-sm-12" 
              onclick="changeNodeInfo()">change node info</button>
            </label>
            <label class="control-label col-sm-12" >
              <button type="button" class="btn btn-default col-sm-12" 
              onclick="createChannel()">create channel</button>
            </label>
          </div>
        </div>
      </div>
    </div>        
  </div>

  <div class="row tab-header">
    <div class="col-sm-12">
      <h3>Channels</h3>
    </div>
  </div>

  <div id="channelList">
  </div>

  <div class="row tab-header">
    <div class="col-sm-8">
      <h3>Participants</h3>
    </div>
    <div class="col-sm-4 tab-header-column">
    </div>
  </div>

  <div id="participantList">
  </div>

</div>

<div class="modal fade" id="nodeInfoDialog" tabindex="-1" role="dialog" aria-labelledby="nodeInfoDialogLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="nodeInfoDialogLabel">Node Info</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="node-info" class="control-label">Copy this text and then paste into the "add participant" option in the remote VizixBigchain node</label>
            <textarea cols="60" rows="8" class="form-control" id="node-info"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addParticipantDialog" tabindex="-1" role="dialog" aria-labelledby="addParticipantLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addParticipantLabel">Add Participant to this Node</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="node-info" class="control-label">use the participant signature from remote VizixBigchain node</label>
            <textarea cols="60" rows="8" class="form-control" id="node-signature"></textarea>
          </div>
        </form>
        <div id="addpart-statusbar" class="alert alert-danger"></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btnAddParticipant">Add Participant</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="changeInfoDialog" tabindex="-1" role="dialog" aria-labelledby="changeInfoDialogLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="changeInfoDialogLabel">Change Node Info</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="node-name" class="control-label">Node Name:</label>
            <input type="text" class="form-control" id="change-node-name">
          </div>
          <div class="form-group">
            <label for="node-host" class="control-label">Node Host:</label>
            <input type="text" class="form-control" id="change-node-host">
          </div>
          <div class="form-group">
            <label for="node-port" class="control-label">Node Port:</label>
            <input type="text" class="form-control" id="change-node-port">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btnChangeInfo">Submit changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addChannelDialog" tabindex="-1" role="dialog" aria-labelledby="addChannelDialogLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addChannelDialogLabel">Add Channel</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="channel-name" class="control-label">Channel Name:</label>
            <input type="text" class="form-control" id="channel-name">
          </div>

          <div id="participantsCheckboxList">
          </div>

          <div class="progress">
            <div id="createChannelBar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70"
            aria-valuemin="0" aria-valuemax="100" style="width:0%">
              <span id="createChannelBarLabel" class="">0% </span>
            </div>
          </div>
        </form>
      </div>
      <div id="addchannel-statusbar" class="alert alert-danger"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btnAddChannel">Add Channel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="getAssetDialog" tabindex="-1" role="dialog" aria-labelledby="addChannelDialogLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form>
          <div id="channelsCheckboxList">
          </div>

          <div class="form-group">
            <label for="channel-name" class="control-label">Asset Id:</label>
            <input type="text" class="form-control" id="assetId" value="4fd32a4630529ce9d7a7f468660c01c2bf89e16547091a3ec889b9ca2b6a99ef">
          </div>

          <div class="form-group">
            <label for="channel-name" class="control-label">Result:</label>
            <pre><code id="asset-result" class="xml"><br><br></code></pre>
          </div>

        </form>
      </div>
      <div id="getAsset-statusbar" class="alert alert-danger"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btnGetAsset">getAsset</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="createAssetDialog" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form>
          <div id="channels2CheckboxList">
          </div>

          <div class="form-group">
            <label for="channel-name" class="control-label">Asset</label>
            <textarea class="form-control" rows="8" id="assetData" >
            </textarea>
          </div>

          <div class="form-group">
            <label class="control-label">Result:</label>
            <pre><code id="createAsset-result" class="xml"><br><br></code></pre>
          </div>

        </form>
      </div>
      <div id="createAsset-statusbar" class="alert alert-danger"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btnCreateAsset">create Asset</button>
      </div>
    </div>
  </div>
</div>


<script id="participants-template" type="text/x-handlebars-template">

  \{{#each participants}}
  <div class="row">
    <div class="col-sm-9">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h2 class="panel-title">\{{name}}</h2>
        </div>

        <div class="panel-body">

          <div class="form-group">
            <label class="control-label col-sm-4" for="type">node server:</label>
            <div class="col-sm-8">
              <label  class="form-control" >\{{host}}:\{{port}}</label>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="type">public key:</label>
            <div class="col-sm-8">
              <label  class="form-control" >\{{publicKey}}</label>
            </div>
          </div>
          <!--  
          <br>Channels<br>
          <div class="form-group">
            <table id="table-channels" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Channel Name</th>
                  <th>shared secret</th>
                  <th>participants</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Channel 2</td>
                  <td>8YiLnT4e3LGZ57Yui11M78W3DbzHoBQueJCQYhx64miL</td>
                  <td>[Party A, Party C]</td>
                </tr>
              </tbody>
            </table>
          </div>
          !-->
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel panel-info">
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label col-sm-12" >
              <button type="button" class="btn btn-default col-sm-12" 
              onclick="testConnection('\{{host}}:\{{port}}','\{{publicKey}}')">test connection</button>
            </label>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-12" >
              <button type="button" class="btn btn-danger col-sm-12" 
              onclick="removeParticipant('\{{name}}')">remove participant</button>
            </label>
          </div>
        </div>
      </div>
    </div>        

  </div>
  \{{/each}}

</script>

<script id="channels-template" type="text/x-handlebars-template">

  \{{#each channels}}
  <div class="row">
    <div class="col-sm-9">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title">\{{name}}</h2>
        </div>

        <div class="panel-body">

          <div class="form-group">
            <label class="control-label col-sm-4" for="type">shared hash:</label>
            <div class="col-sm-8">
              <textarea readonly="" rows="3" class="form-control">\{{sharedHash}}</textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="type">public key:</label>
            <div class="col-sm-8">
              <textarea readonly="" rows="4" class="form-control">\{{publickey}}</textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="type">private key:</label>
            <div class="col-sm-8">
              <textarea readonly="" rows="3" class="form-control">\{{privatekey}}</textarea>
            </div>
          </div>

          <br>Participants<br>
          <div class="form-group">
            <table id="table-channels" class="table table-striped table-bordered col-sm-6">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>server</th>
                </tr>
              </thead>
              <tbody>
                \{{#each participants}}
                <tr>
                  <td>\{{name}}</td>
                  <td>\{{server}}</td>
                </tr>
                \{{/each}}
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel panel-info">
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label col-sm-12" >
              <button type="button" class="btn btn-default col-sm-12" 
              onclick="getAsset('\{{name}}')">get asset</button>
            </label>
            <label class="control-label col-sm-12" >
              <button type="button" class="btn btn-default col-sm-12" 
              onclick="getAsset('\{{name}}')">get transaction</button>
            </label>
            <label class="control-label col-sm-12" >
              <button type="button" class="btn btn-default col-sm-12" 
              onclick="createAsset()">create asset</button>
            </label>
            <label class="control-label col-sm-12" >
              <button type="button" class="btn btn-default col-sm-12" 
              onclick="addParticipant()">transfer asset</button>
            </label>
          </div>
        </div>
      </div>
    </div>        

  </div>
  \{{/each}}

</script>

<script id="participantscheckbox-template" type="text/x-handlebars-template">
  <div class="form-group">
    <label for="node-host" class="control-label">Participants:</label>
    \{{#each participants}}
    <div class="checkbox">
      <label><input type="checkbox" name="part-\{{id}}" value="\{{name}}" >\{{name}}</label>
    </div>
    \{{/each}}
  </div>

</script>

<script id="channelcheckbox-template" type="text/x-handlebars-template">
  <div class="form-group">
    <label for="selectChannel" class="control-label">Channel:</label>
    <select id="selectChannel">
      <option value="">no channel</option>
      \{{#each channels}}
      <option value="\{{name}}">\{{name}}</option>
   
      \{{/each}}
    </select>
  </div>

</script>

